# Python
venv/
__pycache__/
*.pyc

# Data (DVC handles the actual CSVs)
data/raw/*
!data/raw/.gitignore
!data/raw/*.dvc

# MLflow Metadata (We don't want local DBs in Git)
mlruns/
mlflow.db
artifacts/

# System
.DS_Store
.env